<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ArchTouch Challenge CodeProject">
    <meta name="author" content="Matheus Muller Borges">

    <title>ArcTouch Code Challenge</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/album.css" rel="stylesheet">
</head>

<body>

<header>

    <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand">CodeChallenge TMDb</a>
            <form class="form-inline my-2 my-lg-0" method="post" action="/search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>
